article:nth-child(3) > h2{  
    font-size: 54px;
    text-align: center;
    margin: 0 0 50px;
  }
  article:nth-child(3){
    position: relative;
    height: 700px;
    padding-bottom: 60px;
  }
  .single-items{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* each-item */
  .item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .active{
    height: 400px;
    width: 600px;
  }
  ul[class="stepper"]{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul[class="stepper"] > li{
    display: inline-block;
    margin: 0 5px;
  }
  .active-step{
    color:red;
  }
  button, button:active, button:focus{
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    width: 50px; height: 20px;
    border: none;
    background-color: transparent;
    color: green;
    outline: none;
    font-family: 'ghanachoco';
    font-size: 7vh;
  }
  button:hover{
    color: white;
  }
  button:disabled{
    color: gray;
  }
  .prev{
    left: 30px;
  }
  .next{
    right: 30px;
  }

  .portfolio {
    margin-left: 1600px;
    margin-bottom: 500px;
  }